<% include ../partials/header %>
<% const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

<!-- watch the specific vlog -->
<div class="container border border-dark">
    <div class="row">
        <div class="video-container container col-12 col-md-10 col-lg-5">
            <div class="embed-responsive embed-responsive-9by16">
                <iframe src="https://player.vimeo.com/video/354575981" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u21W_tfPVrY?modestbranding=1"></iframe> -->
                <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=I61R1e-xmow?modestbranding=1"></iframe> -->
            </div>
        </div>
        <div class="container col-12 col-md-10 col-lg-7">
            <div class="container show-description">
                <% const year = vlog.uploaded.getYear() + 1900 %>
                
                <h1><%= vlog.name %></h1>
                <p id="description-info">Vlog #<%= vlog.number %></p>
                <p id="description-info"><%= months[vlog.uploaded.getMonth()] %> <%= vlog.uploaded.getDate() %>,  <%= year %></p>
                <p id="description-text"><%= vlog.description %></p>
                <% if(currentUser){ %>
                    <a class="show-link" href="/vlogs/<%=vlog._id%>/edit"><p id="description-info"><i class="fas fa-edit show-icon"></i>Edit Episode</p></a>
                    <a class="show-link" href=""><p id="description-info"><i class="fas fa-trash show-icon"></i>Delete Episode</p></a>
                <% } %>
            </div>
        </div>
        
    </div>
    
</div>
