<% include ../partials/header %>

<div class="container" id="margin-jumbotron"></div>

<!-- watch the specific episode -->
<div id="video-container" class="container border border-dark">
    <iframe width=100% height=100% src="https://www.youtube.com/embed/u21W_tfPVrY?modestbranding=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="container border border-dark">
    <h1><%= episode.name %></h1>
    <p>Season <%= episode.season %>, Episode <%=episode.number %></p>
</div>

<!-- blooper attached to this video -->
<!-- <% episode.bloopers.forEach(function(blooper){ %>
    <p> <%= blooper.videoType %> </p>
    <p> <%= blooper.name %> </p>
    <p> <%= blooper.description %> </p>
    <% }) %>
    
    <% include ../partials/footer %> -->