<% include ../partials/header %>
<% const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

<!-- container for margin (so it doesn't mess up #content) -->
<div class="container" id="margin-jumbotron"></div>
<div class="container" id="jumbotron-container">
    <div class="jumbotron">
        <div class="container">
            <h1>Bloopers</h1>
        </div>
    </div>
</div>


<% episodes.forEach(function(episode){ %>
    <div class="container">
        <div class="container">
            <a class="episode-link" href="/vlogs/<%= episode._id %>">
                <div class="row episode-row">
                    <!-- thumbnail -->
                    <div class="col-12 col-lg-4 image-box">
                        <img src="https://cdn.wallpapersafari.com/76/19/oTkiJr.jpg" alt="">
                    </div>
                    <!-- description -->
                    <div class="col-12 col-lg-8 description">
                        <% const year = episode.uploaded.getYear() + 1900 %>
                        
                        <p>From Season <%= episode.season %>, Episode <%= episode.number %></p>
                        <p><%= months[episode.uploaded.getMonth()] %> <%= episode.uploaded.getDate() %>,  <%= year %></p>
                        
                        <% episode.bloopers.forEach(function(blooper){ %>
                            <p> <%= blooper.videoType %> </p>
                            <p> <%= blooper.name %> </p>
                            <p> <%= blooper.description %> </p>
                        <% }) %>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <% }); %>
        
        <% include ../partials/footer %>