<% include ../partials/header %>
<% const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>

<div class="container" id="jumbotron-container">
    <div class="jumbotron">
        <div class="container">
            <h1>Bloopers</h1>
        </div>
    </div>
</div>


<% bloopers.forEach(function(blooper){ %>
    <div class="container episode-container">
        <a class="episode-link" href="/bloopers/<%= blooper._id %>">
            <div class="row episode-row">
                <!-- thumbnail -->
                <div class="col-12 col-lg-4 image-box">
                    <img src="https://cdn.wallpapersafari.com/76/19/oTkiJr.jpg" alt="">
                </div>
                <!-- description -->
                <div class="col-12 col-lg-8 description">
                    <% const year = blooper.uploaded.getYear() + 1900 %>
                    <h2> <%= blooper.name %> </h2>
                    <p>Season <%= blooper.season %>, Blooper #<%= blooper.number %></p>
                    <p><%= months[blooper.uploaded.getMonth()] %> <%= blooper.uploaded.getDate() %>,  <%= year %></p>
                    <p class="episode-description"> <%= blooper.description %> </p>
                </div>
            </div>
        </a>
    </div>
    <% }); %>
    
    <% include ../partials/footer %>